@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --color-navy-blue: #1d3557;
  --color-white: #ffffff;

  /* Secondary Colors */
  --color-light-gray: #f1faee;
  --color-dark-gray: #333333;

  /* Accent Colors */
  --color-sky-blue: #457b9d;
  --color-teal: #2a9d8f;

  /* Neutral Colors */
  --color-medium-gray: #576b6c;
  --color-soft-beige: #f4a261;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--color-navy-blue);
  color: var(--color-white);
}
header a {
  text-decoration: none;
  color: var(--color-white);
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
  z-index: 4;
}
nav a {
  text-decoration: none;
  color: var(--color-white);
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.hero {
  padding: 1rem;
  background-color: var(--color-dark-gray);
}
.hero h2 {
  text-align: center;
  padding: 1rem;
  color: --;
}
.heroImgs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: space-evenly;
  margin: 0 auto;
}
.hero_image {
  /* opacity: 0; */
  animation: hero_image 1s ease-in-out forwards;
}
@keyframes hero_image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heroImgs img {
  width: 100%;
}
.searchSection {
  padding: 1rem;
  text-align: center;
}
.searchSection input {
  padding: 0.9rem;
  border-radius: 10px;
}
.popularMovies a {
  text-decoration: none;
  color: black;
}
#popularMovies h3 {
  text-align: center;
  padding: 1rem;
  color: black;
}
.popularMovies div {
  width: 100%;
  text-align: center;
}
.popularMovies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  justify-items: center;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-navy-blue);
  color: var(--color-white);
}

.movieDetail {
  padding: 1rem;
}
.movieDetail img {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}
.movieDetail span {
  font-weight: 700;
}
.genre {
  display: flex;
  gap: 8px;
}
.releaseDate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movieDetail p {
  margin-block-end: 10px;
}

@media (max-width: 730px) {
  .divhero_image:nth-child(1) {
    display: none;
  }
}

@media (max-width: 500px) {
  .divhero_image:nth-child(2),
  .divhero_image:nth-child(1) {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    background-color: #333;
    transition: all 0.3s ease;
  }

  .nav.active {
    left: 0;
    background-color: var(--color-white);
  }
  .nav.active a {
    color: black;
  }

  .nav li {
    text-align: center;
    margin: 1rem 0;
  }
}
